@import './../common/variables';

label {
  display: block;
  margin-bottom: 2px;

  abbr {
    color: #ff0000;
    text-decoration: none;
  }
}

input[type='text'],
input[type='email'],
input[type='password'] {
  border: 1px solid #BBBBBB;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
  padding: $form-padding;
  width: 100%;

  .field_with_errors & {
    border-color: #f00;
  }
}

select {
  border: 1px solid #BBBBBB;
  border-radius: 5px;
  box-sizing: border-box;
  padding: $form-padding;
}

input[type='submit'] {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #004295;
  background-color: #e9f2ff;
  color: #004295;
  border-radius: 5px;

  &:hover {
    background-color: #d2e3ff;
  }
}

.input {
  margin-bottom: 10px;

  .error {
    color: #ff0000;
    font-size: $small-font-size;
    font-style: italic;
  }

  .hint {
    font-size: $small-font-size;
  }

  .date-select {
    display: flex;
    box-sizing: border-box;
    gap: 10px;

    select {
      flex-grow: 1;
    }

    select:nth-child(2) {
      flex-grow: 2;
    }
  }
}