@import './../common/variables';

a {
  text-decoration: none;
  color: $link-color;
}

.flash {
  border: 1px solid #2f2f2f;
  border-radius: 5px;
  color: #2f2f2f;
  background-color: #ccc;
  padding: 5px 10px;
  margin: 10px 0;
  position: relative;

  .close-button {
    display: flex;
    align-content: center;
    color: inherit;
    margin-left: auto;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -1px;
    width: 5px;
    height: 100%;
    border-radius: 5px 0 0 5px;
  }

  &.alert {
    border-color: #730E15;
    color: #730E15;
    background-color: #ffe4e7;

    &:before {
      background-color: #730E15;
    }
  }

  &.notice {
    border-color: #016101;
    color: #016101;
    background-color: #ceffce;

    &:before {
      background-color: #016101;
    }
  }
}
