@import '../../../vendor/assets/stylesheets/reset';
@import './common/variables';
@import './common/flex';
@import './components/general';
@import './components/form';
@import './components/button';

body {
  font: $base-font-size $base-font-family;
  font-weight: $base-font-weight;
}

.content {
  height: 100vh;
  margin: 0 auto;
  width: max-content;

  .signup-form, .signin-form {
    margin: auto 0;

    h2 {
      font-size: 2rem;
      margin-bottom: 10px;
      font-weight: bold;
    }

    .input.password {
      .hint {
        display: block;
        text-align: end;
        width: 100%;
      }
    }

    input[type='submit'] {
      width: 100%;
    }

    .flex {
      .input:nth-child(n) {
        margin-right: 10px;
      }

      .input:last-child {
        margin-right: 0;
      }
    }
  }

  .signin-form {
    input[type='submit'] {
      margin: 10px 0 20px;
    }
  }

  .signup-form {
    input[type='submit'] {
      margin: 20px 0;
    }

    .privacy-and-terms {
      text-align: center;
    }
  }
}